header {
    margin-bottom: 50px;
}



body {
    padding-left: 32px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Raleway', sans-serif;


}

h1 {
    font-size: 2em;
  
}

p {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    height: 98px;
    padding-bottom: 70px;
}

.lien-nav {
    display: flex;
    flex-direction: row;
    
}

.nav-seul1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 111px;
    width: 133px;
}

.nav-seul2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 111px;
    width: 133px;
}

.nav-seul1:hover,.nav-seul2:hover {
    border-top: 3px solid blue;
}

nav a {
    font-size: 1.5em;
    
}
.logo-nav { 
    
    width: 146px;
}

.logo-loupe {
    display: none;
}


.annonce {
    margin-left: 24px;
}


.ens-recherche1 {
    display: none;
}

.recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center ;
    margin-left: 10px;
    margin-top: 42px;
    width: 469px;
    height: 67px;
    background-color: #F2F2F2;
    border-radius: 18px 18px 18px  18px;
}
.logo-recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 50px;
}

input[type='submit'] {
    border-radius: 0px 18px 18px 0px;
    background-color:#0065FC;
    color: white;
    font-size: 1.2em;
    width: 163px;
    height: 58px;
    border: none;
}
input {
    width: 240px;
    height: 58px;
    border: none;
}


.filtre {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 64px;
    margin-bottom: 80px;
}
.filtre-group {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.filtre-icon-eco {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 30px 30px ;
    border: 3px solid #D9D9D9;
    font-size: 1.2em;
    font-weight: 900;
    width: 196px;
    height: 56px;
    gap: 13px;
}
.filtre-icon-fam {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 30px 30px ;
    border: 3px solid #D9D9D9;
    font-size: 1.2em;
    font-weight: 900;
    width: 160px;
    height: 56px;
    gap: 13px;
}
.filtre-icon-rom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 30px 30px ;
    border: 3px solid #D9D9D9;
    font-size: 1.2em;
    font-weight: 900;
    width: 191px;
    height: 56px;
    gap: 13px;
}
.filtre-icon-ani {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 30px 30px ;
    border: 3px solid #D9D9D9;
    font-size: 1.2em;
    font-weight: 900;
    width: 223px;
    height: 56px;
    gap: 13px;
}
.filtre-icon:hover {
    background-color: #DEEBFF;
}

.info-ville {
    display: flex;
    align-items: center;
    gap: 32px;

}

.logo-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 31px 31px 31px 31px;
    border: 3px solid gray;
    width: 41px;
    height: 41px;
}

.img-info {
    height: 24px;
}


.hébergement-cadre {
    border-radius: 20px 20px 20px 20px;
    background-color:#F2F2F2;
    height: 686px;
    width: 1149px;
    flex-wrap: wrap;
    
}

.flex-hé {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    
    
}

.image-hé {
    width: 298px;
    height: 168px;
    border-radius: 13px 13px 0px 0px;
   
   
}
.hébergement {
    border-radius: 18px 18px 18px 18px;
    border: 5px solid white;
    background-color: white;
    box-shadow:0px 23px 40px rgba(0, 0, 0, 0.27);
}

.populaire-cadre {
    width: 620px;
    height: 686px;
    border-radius: 13px 13px 13px 13px;
    background-color: #F2F2F2;
}

.pop-vectoriel {
    display: flex;
    gap: 220px;
    
}

.img-pop {

    border-radius: 13px 0px 0px 13px;
    width: 245px;
    height: 160px;
}
.pop-centre {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 18px 18px 18px 18px;
    border: 8px solid white;
    background-color: white;
    box-shadow:0px 23px 40px rgba(0, 0, 0, 0.27);
    width: 432px;
    height: 160px;
}
.pop-contenue {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}
.pop-contenue2 {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    gap: 10px;
}

.populaire-cadre h2 {
    margin-left: 84px;
}
.hébergement-cadre h2 {
    margin-left: 84px;
}

.he-po {
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;
}


.activité {
    display: flex;
    flex-direction: row;
    gap: 49px;
    margin-left:50px;
}

.activité h2 {
    font-size: 2em;
}

.img-activité {
    width: 380px;
    height: 464.51px;
    border-radius: 18px 18px 0px 0px;
    
}

.activité-cadre {
    border-radius: 18px 18px 18px 18px;
    background-color: white;
    box-shadow:0px 23px 40px rgba(0, 0, 0, 0.27);
}
.activité-cadre p {
    font-size: 1.2em;
}

.activité-titre {
    margin-left: 30px;
    font-size: 1.2em;
    
}

.footer {
    display: flex;
    justify-content: space-around;
    border-radius: 20px 20px 0px 0px;
    background-color:#F2F2F2 ;
    padding-bottom: 38px;
}

.Footer-lien {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
}

footer {
    margin-top: 100px;
}


@media screen and ( max-width:768px) {

    body {
        margin: 0px;
        padding: 0px;
    }

    header {
        margin-top: 30px;
        font-size: 1.5em;

    }

    nav {
        display: flex;
        flex-direction: column;
        height: 259px;
    }
    nav a {
        margin-left: 0%;
    }
    .lien-nav {
        display: flex;
        flex-direction: row;
        height: 102px;
        
      
    }
   .lien-nav :hover {
    border-top:none;
    border-spacing: 0px;
    padding-top: 0px;
    color: blue;
   }

   .nav-seul1:hover, .nav-seul2:hover {
    border-bottom: 3px solid blue;
    
   }

   .nav-seul1 {
        display: flex;
        justify-content: center;
        width: 399px;
        border-bottom: 3px solid gray;
        border-spacing: 50px;
        font-size: 1.2em;
   }
   .nav-seul2 {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid gray;
    width: 355px;
    font-size: 1.2em;
   }

   .annonce {
    font-size: 1.5em;
   }

   .ens-recherche1 {
    display: flex;
    align-items: center;
    justify-content: center;
   }

    .recherche {
        display: flex;
        align-items: center;
        width: 616px;
        height: 84px;
        border-radius: 31px 31px 31px 31px;
    }

    .ens-recherche {
        display: none;
    }

    .recheche-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 76px;
    }

    .img-map{
        width: 30px;
        height: 30px;
    }

    .img-loupe {
        position: absolute;
        left: -6px;
        top: -14px;
        width: 30px;
        height: 30px;
    }
    
    form{ 
        display: flex;
        justify-content: center;
        width: 558px;
        height: 79px;
    }

    input[type='submit'] {
        border-radius: 0px 31px 31px 0px;
        width: 88px;
        height: 82px;
    }
    input[type='search'] {
        width: 502px;
        height: 84px;
    }
    


    .logo-loupe {
        display: inline;
        position: relative;
        bottom: -4px;
        right: 48px;
    }
    

    .filtre {
        display: flex;
        flex-direction: column;
    }

    .filtre-texte {
        margin-left: 50px;
        font-size: 1.5em;


    }

    .filtre-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .filtre-icon-eco {
        border-radius: 41px 41px 41px 41px ;
        border: 3px solid #D9D9D9;
        font-size: 1.2em;
        font-weight: 900;
        width: 290px;
        height: 78px;
        font-size: 1.6em;
        
    }
    .filtre-icon-fam {
        border-radius: 41px 41px 41px 41px ;
        border: 3px solid #D9D9D9;
        font-size: 1.2em;
        font-weight: 900;
        width: 290px;
        height: 78px;
        font-size: 1.6em;
       
    }
    .filtre-icon-rom {
        border-radius: 41px 41px 41px 41px ;
        border: 3px solid #D9D9D9;
        font-size: 1.2em;
        font-weight: 900;
        width: 290px;
        height: 78px;
        font-size: 1.6em;
       
    }
    .filtre-icon-ani {
        border-radius: 41px 41px 41px 41px ;
        border: 3px solid #D9D9D9;
        font-size: 1.2em;
        font-weight: 900;
        width: 290px;
        height: 78px;font-size: 1.6em;
        
    
    }

    .info-ville{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        gap: 20px;
    }

    .logo-info {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 31px 31px 31px 31px;
        border: 3px solid gray; 
        width: 36px;
        height: 36px;
        margin-left: 10px;
        font-size: 1.1em;
    }
    .img-info {
        height: 20px;
    }

    .he-po {
        display: flex;
        flex-direction: column-reverse;
    }

    .text-he {
        display: flex;
       padding-right: 75px;
        font-size: 2em;
        
    }


    .pop-vectoriel {
        display: flex;
        align-items: center;
        gap: 220px;
        margin-top: 18px;
        margin-bottom: 18px;
        font-size: 1.5em;
    }

    .img-vector {
        width: 45px;
        height: 45px;
    }

    
    .populaire-cadre {
        width: 756px;
        height: 989px;
        border-radius: 0px 0px 0px 0px;
        margin-bottom: 84px;
    }


    .pop-contenue {
        gap: 29px;
    }

    .pop-contenue2 {
        gap: 87px;
        font-size: 1.5em;
    }

    .pop-centre {
        width: 589px;
        height: 240px;
        border-radius: 31px 31px 31px 31px;
    }

    .img-pop {
        width: 245px;
        height: 237px;
        border-radius: 28px 0px 0px 28px;
    }

    .hébergement {
        width: 600px;
        height: 344px;
        border-radius: 37px 37px 37px 37px;
        border: 7px solid white;
    }

    .he-texte {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        margin-top: 10px;
        margin-left: 19px;
        gap: 20px;
    }

    .hébergement-cadre {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 756px;
        height: 2465px;
    }
    .flex-hé {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        gap: 29px;
    }

    .image-hé {
        width: 600px;
        height: 220px;
        border-radius: 31px 31px 0px 0px;
    }

    .afficher-plus {
        display: none;
    }

    .activité {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }

    .activité-ma {
        margin-left: 77px;
        font-size: 2em;
    }


    .img-activité {
        width: 600px;
        height: 300px;
    }
    .activité-cadre {
        width: 600px;
        height: 400px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
    .Footer-lien {
        margin-left: 50px;
        font-size: 2em;
    }
    .Footer-lien a:hover {
        color: blue;
    }
    
}




@media screen and ( min-width:768px) and (max-width:992px) {

    body {
        margin-left: 0px;
    }

    nav {
        padding-bottom: 0px;
    }

    .filtre-group {
        width: 337px;
    }
    .he-po {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .hébergement-cadre {
        width: 912px;
        height: 661px; ;
    }

    .image-hé {
        width: 265px;
        height: 164px;
    }


    .pop-contenue {
        display: flex;
        flex-direction: row;
        width: 883px;
        height: 210px;
        margin-left: 14px;
    }

    .populaire-cadre {
        width: 911px;
        height: 348px;
    }

    .img-pop {
        width: 100px;

    }

    .filtre-icon-eco {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px 30px 30px 30px ;
        border: 3px solid #D9D9D9;
        font-size: 1.2em;
        font-weight: 900;
        width: 196px;
        height: 56px;
        gap: 13px;
    }
    .filtre-icon-fam {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px 30px 30px 30px ;
        border: 3px solid #D9D9D9;
        font-size: 1.2em;
        font-weight: 900;
        width: 160px;
        height: 56px;
        gap: 13px;
    }
    .filtre-icon-rom {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px 30px 30px 30px ;
        border: 3px solid #D9D9D9;
        font-size: 1.2em;
        font-weight: 900;
        width: 266px;
        height: 56px;
        gap: 13px;
    }
    .filtre-icon-ani {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px 30px 30px 30px ;
        border: 3px solid #D9D9D9;
        font-size: 1.2em;
        font-weight: 900;
        width: 223px;
        height: 56px;
        gap: 13px;
        padding-left: 15px;
    }
    .activité{
        gap: 26px;
        margin-left: 0px;
        
    }

    .activité-cadre {
        width: 207px;
        height: 322px;
        
    }

    .img-activité {
        width: 207px;
        height: 220px;
    }
}