header {
    margin-bottom: 50px;
}



body {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    height: 98px;

}
nav a {
    margin-left: 60px;
    
}

nav a:hover {
    border-top: 1px solid blue;
    border-spacing: 10px;

}




.recherche {
    display: flex;
    flex-direction: row;
}

.filtre {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.filtre-icon {
    border-radius: 20px 20px 20px 20px ;
    border: 1px solid gray;
    
}

.hébergement-cadre {
    border-radius: 20px 20px 20px 20px;
    background-color:#F2F2F2;
    height:626px ;
    width: 880px;
    flex-wrap: wrap;
    
}

.flex-hé {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    
    
}

.image-hé {
    width: 246px;
    height: 124px;
    border-radius: 13px 13px 0px 0px;
   
   
}
.hébergement {
    border-radius: 18px 18px 18px 18px;
    border: 5px solid white;
    background-color: white;
    box-shadow:0px 23px 40px rgba(0, 0, 0, 0.27);
}

.populaire-cadre {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 420px;
    height: 625px; ;
    

    border-radius: 13px 13px 13px 13px;
    background-color: #F2F2F2;
}

.img-pop {
    border-radius: 18px 0px 0px 18px;

    width: 137px;
    height: 144px;
}
.pop-centre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hé-po {
    display: flex;
    justify-content: space-around;
}


.activité {
    display: flex;
    flex-direction: row;
    gap: 90px;

}

.img-activité {
    width: 302px;
    height: 444.51px;
    border-radius: 18px 18px 0px 0px;
    margin-top: 50px;
}

.activité-cadre {
    border-radius: 18px 18px 18px 18px;
    background-color: white;
    box-shadow:0px 23px 40px rgba(0, 0, 0, 0.27);
    

}

.footer {
    display: flex;
    justify-content: space-around;
    border-radius: 20px 20px 0px 0px;
    background-color:#F2F2F2 ;
    padding-bottom: 38px;
}

.Footer-lien {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
}

footer {
    margin-top: 100px;
}